<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <link rel="stylesheet" href="static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
  <title>Joker</title>
</head>

<body>
  <h1>Joker</h1>

  <h3> Speak </h3>
  <input type="text" id='wordsIn' style="width:280px">
  <button id='speak'>send</button>
  <br>

  <h3> Camera </h3>
  <!-- <p id="has_hand">false</p> -->
  <img src="{{ url_for('video_feed') }}">
  <br>

  <h3> Interesting Music </h3>
  <audio id="music_0" src="Yi_Jian_Mei.mp3" controls> </audio> <br>
  <audio src="Titanic_Flute_Fail.mp3" controls> </audio> <br>
  <audio src="Illuminati Confirmed - Sound Effect.mp3" controls> </audio>
  <br>

  <h3> Happy Music </h3>
  <audio src="Never gonna give you up.mp3" controls> </audio> <br>
  <audio src="Directed by Robert B. Weide.mp3" controls> </audio>
  <br>

  <h3> Scary Music </h3>
  <audio src="Squid Game - Pink Soldiers.mp3" controls> </audio> <br>
  <audio src="Red-Light-Green-Light.mp3" controls> </audio> <br>
  <audio src="Heathens_Trees.mp3" controls> </audio>
  <br>

  <script src="static/index.js"></script>

</body>

</html>