absl-py==1.0.0
Adafruit-Blinka==6.15.0
adafruit-circuitpython-apds9960==2.2.7
adafruit-circuitpython-busdevice==5.0.5
adafruit-circuitpython-neopixel==6.2.3
adafruit-circuitpython-pixelbuf==1.1.1
adafruit-circuitpython-register==1.9.5
adafruit-circuitpython-rgb-display==3.10.5
Adafruit-PlatformDetect==3.17.2
Adafruit-PureIO==1.1.9
appdirs==1.4.4
argon2-cffi==20.1.0
asn1crypto==0.24.0
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
audioplayer==0.6
audioread==2.1.8
backcall==0.2.0
bidict==0.21.4
bleach==3.2.1
cachetools==4.2.4
certifi==2021.10.8
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
colorzero==1.1
common==0.1.2
cryptography==2.6.1
cupshelpers==1.0
cycler==0.11.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.3.0
entrypoints==0.3
filelock==3.0.12
Flask==2.0.2
Flask-SocketIO==5.1.1
flatbuffers==1.12
fonttools==4.28.3
future==0.18.2
gast==0.3.3
gi==1.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpiozero==1.5.1
grpcio==1.32.0
h5py==2.10.0
idna==3.3
importlib-metadata==4.8.2
imutils==0.5.3
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.13
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
Keras-Preprocessing==1.1.2
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.3.2
librosa==0.8.0
llvmlite==0.32.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.5.0
mediapipe-rpi4==0.8.8
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numba==0.49.1
numpy==1.21.4
numpy-ringbuffer==0.2.1
oauthlib==3.1.1
olefile==0.46
opencv-python==4.5.4.60
opt-einsum==3.3.0
packaging==21.3
paho-mqtt==1.5.1
pandocfilters==1.4.2
parso==0.7.1
pbr==5.5.1
pexpect==4.8.0
picamera==1.13
pickleshare==0.7.5
Pillow==8.4.0
pooch==1.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.19.1
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pyftdi==0.53.3
pygame==2.1.0
Pygments==2.7.1
PyGObject==3.30.4
pyparsing==3.0.6
pyqtgraph==0.12.3
pyrsistent==0.17.3
pyserial==3.5
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-dateutil==2.8.2
python-engineio==4.3.0
python-socketio==5.5.0
pyusb==1.2.1
pyxdg==0.25
PyYAML==3.13
pyzmq==19.0.2
reportlab==3.5.13
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rpi-ws281x==4.3.1
RPi.GPIO==0.7.0
rsa==4.7.2
scikit-learn==0.23.2
scipy==1.7.3
SecretStorage==2.3.1
Send2Trash==1.5.0
serial==0.0.97
six==1.16.0
SoundFile==0.10.3.post1
spidev==3.5
ssh-import-id==5.7
stevedore==3.3.0
sysv-ipc==1.1.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow @ file:///home/pi/Interactive-Lab-Hub/Lab%205/tensorflow-2.4.0-cp37-none-linux_armv7l.whl
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
torch==1.7.0a0
torchvision==0.2.2.post3
tornado==6.0.4
traitlets==5.0.4
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.4.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
vosk==0.3.10
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.6.0